@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Base Runner";
    src: url("/assets/fonts/BaseRunnerJNL.woff2") format("woff2"), url("/assets/fonts/BaseRunnerJNL.woff") format("woff");
}

@font-face {
    font-family: "Dharma Gothic C Italic";
    src: url("/assets/fonts/DharmaGothicC-Regular-Italic.woff2") format("woff2"), url("/assets/fonts/DharmaGothicC-Regular-Italic.woff") format("woff");
}

@font-face {
    font-family: "Urbanist";
    src: url("/assets/fonts/Urbanist-Regular.ttf") format("truetype");
}

html { scroll-behavior: smooth; }
.become-mv-member-ul li::marker{ font-size: 1.5em; }
.navbar-heading header{ max-width: none; }

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }

.Toastify__toast{padding: 0!important;border-radius: 12px!important;}

[data-input-otp-container="true"] { width: 100%; }

.guest-layout-old{
    background-image: url('/assets/images/authentication-old.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height : 100%;
    display: flex;
}

.guest-layout{
    background-image: url('/assets/images/authentication.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height : 100%;
    display: flex;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

@media screen and (max-width:767px) {
    .guest-layout-old,.guest-layout{
        display: none;
    }
}