@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Base Runner";
    src: url("/assets/fonts/BaseRunnerJNL.woff2") format("woff2"), url("/assets/fonts/BaseRunnerJNL.woff") format("woff");
}

@font-face {
    font-family: "Urbanist";
    src: url("/assets/fonts/Urbanist-Regular.ttf") format("truetype");
}

html { scroll-behavior: smooth; }
.become-mv-member-ul li::marker{ font-size: 1.5em; }